.super-mario {
    width: 200px;
    position: absolute;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 150px;
}

.baloon {
    position: absolute;
    left: 400px;
    top: 50px;
}

.speach {
    font-size: 25px;
    position: absolute;
    left: 420px;
    z-index: 1;
}

.bowser {
    position: absolute;
    width: 200px;
    left: 700px;
    top: 200px;
}